
.square{
    position: relative;
    height: 100px;
    width: 100px;
    background: black;
    border: solid black 1px;
    border-radius: 300px;
    
}.red-square{
    background: white;
}
#cssSelector2{
    top: 300px;
}
.svg{
    max-width: 150px;
    max-height: 150px;
}
.din-bold {
    font-family: "din-2014",sans-serif;
    font-style: italic;
    font-weight: 700;
}
.din-regular-italic{
    font-family: "din-2014",sans-serif;
    font-style: italic;
    font-weight: 600;
}
.din-regular{
    font-family: "din-2014",sans-serif;
    font-style: normal;
    font-weight: 400;
}
.din-light-italic{
    font-family: "din-2014",sans-serif;
    font-style: italic;
    font-weight: 300;
}
.aesthetic{
    background: #3494e6;
    background: -webkit-linear-gradient(right,#3494e6,#ec6ead);
    background: -moz-linear-gradient(right,#3494e6,#ec6ead);
    background: linear-gradient(right,#3494e6,#ec6ead);
}
.white-font{
    color: #e8f8ff;
    text-shadow: 0 1px 2px rgba(0,0, 0, 0.20);
}
.yellow-font{
    color: rgb(211, 189, 78);
    text-shadow: 0 1px 2px rgba(0,0, 0, 0.20);    
}
.white-font.subtitle{
    color:#cedce2;
}
.tk-body{
    font-family: "freight-sans-pro";
}
.card{
    background-color: rgba(0,0, 0, 0);
    border-radius: 5px;
}
.card-content, .project{
    background: rgba(255, 255, 255, 0.3);
}