body{

}
.square{
    position: relative;
    height: 100px;
    width: 100px;
    background: black;
    border: solid black 1px;
    border-radius: 300px;
    
}.red-square{
    background: white;
}
#cssSelector2{
    top: 300px;
}
.svg{
    max-width: 150px;
    max-height: 150px;
}